
.idea/aws.xml
.idea/vcs.xml
.idea/workspace.xml
backend/.idea/backend.iml
backend/.idea/backend.iml
backend/.idea/compiler.xml
backend/.idea/misc.xml
backend/.idea/modules.xml
backend/.idea/vcs.xml
*.iml
*.xml
